<div class="container-titles">
    <h1 class="titles">Producto</h1>
</div>

<div class="products">
            <div>
                {{product.thumbnail}}
            </div>
            <ul>
                <li>title: {{product.title}}</li>
                <li>price: {{product.price}} </li>
                <li>currency: {{product.currency}}</li>
                <li>category: {{product.category}}</li>
                <li>description: {{product.description}}</li>
                <li>stock: {{product.stock}}</li>
                <li>code: {{product.code}}</li>
                <li>status: {{product.status}}</li>
            </ul>
</div>
